.table-refs__td {
  width: 25px;
  height: 25px;
  text-align: center;
}
.table-refs__td_active {
  background-color: yellow;
}
.row {
  /* align-items: flex-end; */
  margin-left: 0 !important; 
  margin-right: 0 !important;
}
.ya-share2 {
  margin: 15px;
}
.user__text {
  margin: 20px 0;
  text-align: center;
}
.scroll-wrapper {
  height: 600px;
  overflow-y: scroll;
}
.more-clicks__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column p {
  margin: 12px 0;
}